@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Inter;
}
body{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
}
/* Laptops and above */
@media (min-width: 769px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: row;
        background-color: hsl(244, 38%, 16%);
        width: 85%;
        height: 60%;
        border-radius: 1.2vw;
    }
    .card-image{
        height: 100%;
        width: 50%;
        border-radius: 0 1.2vw 1.2vw 0;
    }
    .card-image .img{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./image-header-desktop.jpg);
        height: 100%;
        width: 100%;
        border-radius:  0 1.2vw 1.2vw 0;
        position: relative;
    }
    .card-image .img .layer{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(103, 29, 150, 0.7);
        border-radius: 0 1.2vw 1.2vw 0;
    }
    .card-text{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 5.5vh 6.5vh 4.5vh 5.5vh;
        gap: 5.5vh;
    }
    .card-text h1{
        font-size: 2.5vw;
        color:  hsl(0, 0%, 100%);
    }
    .card-text h1 span{
        color: hsl(277, 64%, 61%);
    }
    .card-text p{
        font-size: 1.5vw;
        color: hsla(0, 0%, 100%, 0.75);
        line-height: 4.5vh;
    }
    .card-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5.5vh;
    }
    .card-list h2{
        font-size: 2vw;
        color: white;
        margin-bottom: 3vh;
    }
    .card-list p{
        font-size: 1vw;
    }
}
/* Tablets */
@media (min-width:426px ) and (max-width:768px ){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(244, 38%, 16%);
        width: 60%;
        height: 80%;
        border-radius: 1.2vw;
    }
    .card-image{
        height: 35%;
        width: 100%;
        border-radius: 1.2vw 1.2vw 0 0;
    }
    .card-image .img{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./image-header-mobile.jpg);
        height: 100%;
        width: 100%;
        border-radius: 1.2vw 1.2vw 0 0;
        position: relative;
    }
    .card-image .img .layer{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(103, 29, 150, 0.7);
        border-radius: 1.2vw 1.2vw 0 0;
    }
    .card-text{
        height: 65%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 3vh;
        margin-left: 2.3vh;
        margin-right: 2.3vh;
        margin-bottom: 2.5vh;
        gap: 1vh;
        justify-content: space-between;
    }
    .card-text h1{
        font-size: 3.7vw;
        color:  hsl(0, 0%, 100%);
    }
    .card-text h1 span{
        color: hsl(277, 64%, 61%);
    }
    .card-text p{
        font-size: 2.6vw;
        color: hsla(0, 0%, 100%, 0.75);
        line-height: 3.5vh;
    }
    .card-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1vh;
        margin: 1vh 0;
    }
    .card-list h2{
        font-size: 3vw;
        color: white;
        margin-bottom: 1.5vh;
    }
    .card-list p{
        font-size: 2vw;
    }
}
/* Large Mobile Phones */
@media (min-width: 376px) and (max-width: 425px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(244, 38%, 16%);
        width: 80%;
        height: 92%;
        border-radius: 1.2vw;
    }
    .card-image{
        height: 35%;
        width: 100%;
        border-radius: 1.2vw 1.2vw 0 0;
    }
    .card-image .img{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./image-header-mobile.jpg);
        height: 100%;
        width: 100%;
        border-radius: 1.2vw 1.2vw 0 0;
        position: relative;
    }
    .card-image .img .layer{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(103, 29, 150, 0.7);
        border-radius: 1.2vw 1.2vw 0 0;
    }
    .card-text{
        height: 65%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1.4vh;
        margin-left: 1.3vh;
        margin-right: 1.3vh;
        margin-bottom: .7vh;
        gap: 4.5vh;
    }
    .card-text h1{
        font-size: 5vw;
        color:  hsl(0, 0%, 100%);
    }
    .card-text h1 span{
        color: hsl(277, 64%, 61%);
    }
    .card-text p{
        font-size: 3.5vw;
        color: hsla(0, 0%, 100%, 0.75);
    }
    .card-list{
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    .card-list h2{
        font-size: 4.5vw;
        color: white;
        margin-bottom: 1vh;
    }
    .card-list p{
        font-size: 2.5vw;
    }
}
/* Medium Mobile Phones */
@media (min-width: 321px) and (max-width: 375px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(244, 38%, 16%);
        width: 80%;
        height: 90%;
        border-radius: 1.2vw;
    }
    .card-image{
        height: calc(100%/3);
        width: 100%;
        border-radius: 1.2vw 1.2vw 0 0;
    }
    .card-image .img{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./image-header-mobile.jpg);
        height: 100%;
        width: 100%;
        border-radius: 1.2vw 1.2vw 0 0;
        position: relative;
    }
    .card-image .img .layer{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(103, 29, 150, 0.7);
        border-radius: 1.2vw 1.2vw 0 0;
    }
    .card-text{
        height: calc(200%/3);
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2.5vh;
        margin-left: 2.5vh;
        margin-right: 2.5vh;
        margin-bottom: 2.2vh;
        gap: 2vh;
        justify-content: space-between;
    }
    .card-text h1{
        font-size: 5vw;
        color:  hsl(0, 0%, 100%);
    }
    .card-text h1 span{
        color: hsl(277, 64%, 61%);
    }
    .card-text p{
        font-size: 3.7vw;
        color: hsla(0, 0%, 100%, 0.75);
    }
    .card-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2vh;
        margin: 1.5vh 0;
    }
    .card-list h2{
        font-size: 5vw;
        color: white;
        margin-bottom: 2vh;
    }
    .card-list p{
        font-size: 3vw;
    }
}
/* Small Mobile Phones */
@media (max-width: 320px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(244, 38%, 16%);
        width: 90%;
        height: 90%;
        border-radius: 1.3vw;
    }
    .card-image{
        height: calc(100%/3);
        width: 100%;
        border-radius: 1.3vw 1.3vw 0 0;
    }
    .card-image .img{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(./image-header-mobile.jpg);
        height: 100%;
        width: 100%;
        border-radius: 1.3vw 1.3vw 0 0;
        position: relative;
    }
    .card-image .img .layer{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(103, 29, 150, 0.7);
        border-radius: 1.3vw 1.3vw 0 0;
    }
    .card-text{
        height: calc(200%/3);
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2.5vh;
        margin-left: 1.5vh;
        margin-right: 1.5vh;
        margin-bottom: 1.5vh;
        gap: 3vh;
    }
    .card-text h1{
        font-size: 6.5vw;
        color:  hsl(0, 0%, 100%);
    }
    .card-text h1 span{
        color: hsl(277, 64%, 61%);
    }
    .card-text p{
        font-size: 5vw;
        color: hsla(0, 0%, 100%, 0.75);
    }
    .card-list{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        margin: 5px 0;
    }
    .card-list h2{
        font-size: 5vw;
        color: white;
        margin-bottom: 2vh;
    }
    .card-list p{
        font-size: 3.2vw;
    }

}
